.navbar {
    margin-bottom: 5vh;
    font-size: large;
}

.navBar_display {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 3px solid red;
}


/* .navbar-nav { */
    /* border: 3px solid red; */
/* } */