.weekly_planing_display {
    display: flex;
    flex-direction: row;
    height: 90vh;
    width: 90vw;
    background-color: rgb(122, 112, 112);
    border: 1px solid pink;
    padding: 2rem;
    border-radius: 4px;
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
  
  }
  
  
  /* .planner-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 16px;
      border: 2px solid greenyellow;
      background-color: grey;
  
    } */
  
  /* .planner-header button {
      background-color: transparent;
      border: none;
      font-size: 14px;
      color: #555;
      cursor: pointer;
      outline: none;
      background-color: grey;
  
    }
     */
  /* .planner-content {
      display: flex;
      justify-content: space-between;
      background-color: grey;
  
    } */
  
  /* .day-column {
      display: flex;
      flex-direction: column;
      flex: 1;
      border-right: 1px solid #ddd;
      padding: 0 8px;
      background-color: grey;
  
    }
    
    .day-header,
    .day-footer {
      background-color: #f5f5f5;
      padding: 8px;
      font-weight: bold;
      text-align: center
    } */
  
  .daily_hours_container {
    display: flex;
    flex-direction: column; 
    /* border: solid 3px green; */
    height: 100%;
    /* width: 50%; */
  
  }

  .weekdays {
    width: auto;
  }
  
  .hours_label_box{
    overflow: scroll;
    /* margin: 3px; */
    background-color: rgb(239, 179, 139);
    /* border: 3px solid red ; */
    opacity: 0.8;
  }
  
  .slots {
    height: 100vh;
    width: auto;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
  }
  
  
  .pomedoro_slots {
    width: 100%;
    /* height: calc(100% / 72); */
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px solid rgb(0, 0, 0) ;
    /* border: solid 1px rgb(217, 184, 184); */
    margin: 0;  
    font-size: small;
  }