.weekly_planing_display {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 70vh;
    width: 90vw;
    background-color: white;
    border: 1px solid #ddd;
    padding: 16px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  }
  

  .planner-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .planner-header button {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #555;
    cursor: pointer;
    outline: none;
  }
  
  .planner-content {
    display: flex;
    justify-content: space-between;
  }
  
  .day-column {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-right: 1px solid #ddd;
    padding: 0 8px;
  }
  
  .day-header,
  .day-footer {
    background-color: #f5f5f5;
    padding: 8px;
    font-weight: bold;
    text-align: center
  }

  .daily_hours_container{
    display: flex;
    flex-direction: column;
    border: solid 3px red;
  }

  .hours_label_box{
    /* border: solid 3px orange;
    display: flex;
    flex-direction: column; */
  }