/* internship version */
.goal_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display_manager {
    display: grid;
    grid-template-columns: 17% 17% 17% 17% 17% 17%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-template-areas: 
    ". . main main . . "
    ". health  main main money ."
    ". health . . money .";
    /* ". health . . money ."; */
    height: 65vh;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    /* opacity: 0.7; */
    /* box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1); */
}

.planner_cont {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: end;
    background-color: rgba(255, 255, 255, 0.7);
  }

.planner h1 {
    margin: 0 1rem;
    font-size: larger;
}

.planner button {
    font-size: small;
}

.planner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem 0;
    height: 100%;
    width: 80%;
}

.planner_goal_title {
    color: red;
    font-size: large;
}

.planner_goal_btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 75%;
}

.planner_goal_btn button {
    font-size: x-small;
}
 
.main {
    grid-area: main;
}

.goal_btn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    width: 75%;
}

.goal_box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    height: 95%;
    width: 90%;
}

.health {
    grid-area: health;
    height: 75%;
}

.money {
    grid-area: money;
    height: 75%;
}

/* .goal_conainer{
    display: flex;
    width: 90vw;
    flex-direction: column;
    background-color: aquamarine;
    margin: 2rem;
} */

.goal_header{
    width: 50%;
}

.goal_type_title{
    font-size: xx-large;
}

.goal_title {
    font-size: x-large;
    color: red;
}


@media only screen and (max-width: 1024px){
    .goal_type_title {
        font-size: x-large;
    }

    .goal_title {
        font-size: large;
    }

    .planner {
        width: 85%;
    }

    .planner h1 {
        font-size: medium;
    }

    .planner p {
        font-size: small;
    }

    .planner_goal_btn {
        width: 50%;
    }

    .goal_box {
        height: 100%;
    }

    .goal_box p {
        font-size: small;
    }

    .goal_box button {
        font-size: medium;
        line-height: 0.9;
    }

    .goal_box button a {
        font-size: small;
    }
  }
  
@media only screen and (max-width: 768px){
    .goal_type_title {
        font-size: large;
    }

    .goal_btn button {
        font-size: small;
    }

    .planner h1 {
        font-size: small;
    } 
    .planner .goal_btn button {
        font-size: xx-small;
    }
}

@media only screen and (max-width: 426px){
    .goal_box {
        width: 100%;
    }

    .goal_type_title {
        font-size: medium;
    }
    .planner h1 {
        font-size: x-small;
    }

    .planner p {
        font-size: x-small;
    }

    .planner button a {
        font-size: xx-small;
    }

    .planner button {
        line-height: 1.2;
    }

    .goal_btn button {
        font-size: x-small;
    }

    .planner .goal_btn button {
        font-size: 0.2rem;
    }
}




/* original css */

/* .display_manager {
    display: grid;
    row-gap: 3rem;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: 6fr 6fr;
    height: 80vh;
    border: solid 3px red;
    margin-top: 15vh;
}

.goal_conainer{
    display: flex;
    width: 90vw;
    flex-direction: column;
    margin: 2rem;
}

.goal_header{
    background-color: orange ;
}

.goal_display_title {
    color: red;
    font-size: 2rem;
    font-weight: bold;
}

.goal_box {
    margin: auto;
    height: 70%;

    width: 70%;
    border: solid 2px orange;
} */


/* .goal_box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(202, 226, 223);
    width: 15%;
    height: 75%;
    padding: 3rem 1rem;
    justify-content: space-between;
    border: solid oldlace 3px 10px;
} */