/* internship version */
.goal_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.display_manager {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas: 
    ". . . . planner"
    ". main main main planner"
    ". main main main ."
    "health health . money money"
    "health health . money money";  
    height: 95vh;
    width: 80%;
    background-color: white;
    /* opacity: 0.7; */
    box-shadow: 0 0 10px 6px rgba(0, 0, 0, 0.1);
}

.planner {
    margin-top: 2rem;
    grid-area: planner;
  }

.planner h1 {
    font-size: xx-large;
}
 
.main {
    grid-area: main;
}

.goal_btn {
    width: 80%;
}


.health {
    grid-area: health;
}

.money {
    grid-area: money;
}

/* .goal_conainer{
    display: flex;
    width: 90vw;
    flex-direction: column;
    background-color: aquamarine;
    margin: 2rem;
} */

.goal_header{
    background-color: orange ;
}

.goal_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 70%;
    width: 70%;
}

@media only screen and (max-width: 1024px){
    .planner h1 {
        font-size: large;
    }
  }
  
@media only screen and (max-width: 768px){
    .planner h1 {
        font-size: medium;
    } 
    .planner .goal_btn button {
        font-size: xx-small;
    }
}

@media only screen and (max-width: 426px){
    .goal_title {
        font-size: medium;
    }
    .planner h1 {
        font-size: xx-small;
    }

    .goal_btn button {
        font-size: small;
    }

    .planner .goal_btn button {
        font-size: 0.2rem;
    }
}




/* original css */

/* .display_manager {
    display: grid;
    row-gap: 3rem;
    grid-template-columns: 6fr 6fr;
    grid-template-rows: 6fr 6fr;
    height: 80vh;
    border: solid 3px red;
    margin-top: 15vh;
}

.goal_conainer{
    display: flex;
    width: 90vw;
    flex-direction: column;
    margin: 2rem;
}

.goal_header{
    background-color: orange ;
}

.goal_display_title {
    color: red;
    font-size: 2rem;
    font-weight: bold;
}

.goal_box {
    margin: auto;
    height: 70%;

    width: 70%;
    border: solid 2px orange;
} */


/* .goal_box{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border-radius: 15px;
    background-color: rgb(202, 226, 223);
    width: 15%;
    height: 75%;
    padding: 3rem 1rem;
    justify-content: space-between;
    border: solid oldlace 3px 10px;
} */