.main_display{
    background-color: aqua;
    }
.form_holder{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 3px yellow;
    width: 80%;
    height: 100%;
}

.form_holder > input{
    width: 70%;
    margin:5px;
}
.form_holder > select{
    width: 70%;
}
.form_holder > input[type=submit]{
    background-color: rgb(62, 117, 112);
}
.form_holder > input[name=notes]{
    height: 10rem;
}


.modal_add_goal{
    width: 60vh;
    height: 60vh;
}

.nav_main{
    display: flex;
    flex-direction: row;
    padding: 1rem 2rem;
    width :100%;
    height: 5rem;
    justify-content: space-between;
    background-color: lightgray;
    
}


.nav_main a{ 
  
    color: green;
    font-size: x-large;
    text-decoration: none;
}

.left_nav{
    display: flex;
    flex-direction: row;
}
.right_nav{
    display: flex;
    flex-direction: row;
}

.login{
    display: flex;
    flex-direction: row;
}
.register{
    display: flex;
    flex-direction: row;
}

.nav_bar_logged{
    display: flex;
    flex-direction: row;
}



.homePageDispaly{
    width: 100%;
    height: 80vh;
    background-color: rgb(206, 221, 212);
}


.homePageDispaly img{
    margin-left:5% ;
    height: 100%;
    max-width: auto;
    background-size: 100% 100%;
    background-color: rgb(206, 221, 212);
}


.goal_diplay_board{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;
    border-radius: 15%;
    width: 15%;
    border: solid green 2px;
}


.vision_board{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 95vh;
    
}
.vision_board_goal_display{
    width: 20%;
    height: 90%;
    border: solid brown 3px;
}


.image_display{
    width:100%;
    height: 50%;
    object-fit:cover;

}

